[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
requests = "==2.23.0"
twitter = "==2.0a2"
schedule = "*"

[requires]
python_version = "3.11"

[scripts]
force_get_and_post = "python force_get_and_post.py"
force_refresh_instagram_token = "python force_refresh_instagram_token.py"

