[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
requests = "==2.23.0"
twitter = "==1.18.0"
schedule = "*"

[requires]
python_version = "3.8"
